* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belleza', sans-serif;
    text-align: center;
    color: white;
}

.blank {
    height: 80px;
    opacity: 0;
}

h1 {
    font-size: 100px;
}

label {
    font-size: 30px;
}

#error {
    color: red;
    font-size: 25px;
}

.form {
    min-height: 150vh;
    background-image: url(../assets/beluga-whale.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 800px;
    height: 800px;
    border-radius: 77px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-fields {
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.labels {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.label-containers {
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-fields {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fields-containers {
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    height: 30px;
    width: 300px;

    color: black;
    font-size: 20px;
}

#gender-btns {
    width: 100%;
}

.radio-btn {
    height: 30px;
    width: 30px;
    margin: 0;
}

.terms-and-conditions-container {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-size: 20px;
}

#terms-and-conditions {
    height: 30px;
    width: 30px;
}


#send-btn {
    width: 270px;
    height: 50px;
    margin-top: 10px;
    background-color: #242F9B;
    font-size: 20px;
    border: 3px solid white;
}

#send-btn:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: solid black
}

@media only screen and (max-width: 700px) {
    
    h1 {
        font-size: 50px;
    }

    form {
        width: 400px;
    }

    .form-fields {
        justify-content: center;
    }

    label {
        font-size: 15px;
    }

    input {
        height: 30px;
        width: 200px;

        font-size: 15px;
    }

    .radio-btn {
        height: 20px;
        width: 20px;
    }

    #terms-and-conditions {
        height: 15px;
        width: 15px;
    }

    .terms-and-conditions-container {
        font-size: 15px;
    }

}