* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belleza', sans-serif;
}

h1 {
    font-size: 100px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.welcome {
    height: 100vh;
    background-image: url(../assets/H_00376_001.jpg);
    background-size: cover;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitles {
    display: flex;
    flex-direction: column;
}

.learn-more {
    height: 100vh;
    background-color: black;
    background-image: url(../assets/shutterstock_400476850.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us {
    height: 100vh;
    background-color: black;
    background-image: url(../assets/marine-animals.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.redirect-button {
    width: 270px;
    height: 50px;
    margin-top: 10px;
    background-color: #242F9B;
    font-size: 20px;
    border: 3px solid white;
}

.redirect-button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    border: solid black
}

@media only screen and (max-width: 700px) {
    
    h1 {
        font-size: 50px;
    }

    h3 {
        font-size: 20px;
    }

}

