* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Belleza', sans-serif;
  color: white;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  flex-wrap: wrap;
  position: fixed;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  left: 0;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  padding: 8px 15px;
  letter-spacing: 1px;
  
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 100;


  transition: 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #242F9B;
  transition: 0.3s;
}

nav .logo {
  color: white;
  font-size: 40px;
  font-weight: 600;
}

nav .dropdown-menu i {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

#toggle {
  display: none;
}
  
@media (max-width: 800px) {

  nav ul {
    position: fixed;
    top: -100%;
    height: fit-content;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.5s ease;
    z-index: -1;
  }
  
  nav .dropdown-menu i {
    display: block;
  }

  #toggle:checked ~ .dropdown-menu i:before {
    content: "\f00d";
  }

  #toggle:checked ~ ul li a {
    margin-left: 0px;
  }

  #toggle:checked ~ ul {
    top: 80px;
  }
  
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  
  nav ul li a {
    width: 100%;
    display: block;
    font-size: 1.5rem;
  }
  
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #242F9B;
  }

}